<div class="container__big-card">
  <div class="big-card__picture">
    <img src="https://conteudo.imguol.com.br/c/entretenimento/48/2022/03/25/cenario-de-filme-western-na-andaluzia-espanha-1648225194403_v2_900x506.jpg" alt="" height="200">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Lorem Ipsum</a></h1>
  </div>
  <div class="big-card__description">
    <a href="#"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis nostrum a, eum quidem voluptas vitae sit quam omnis tempora velit beatae incidunt vero alias reprehenderit ipsum officia necessitatibus laborum.</p>
    </a>
  </div>
</div>
